doctype html
html
  head
    title=title
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel="stylesheet" href='/style.css')
  body
    header
      img.logo(src='/buzzer-logo.svg')

    div.container
      button.js-right='Antwort war richtig!'
      button.js-wrong='Antwort war falsch!'
      button.js-skip='Nächstes Lied..'


    script(src='/socket.io/socket.io.js')
    script(src='/host.js')
